.main-wrapper{
  position:fixed;
  width:100%;
  height:100%;
  top:0;
  right:0;
  background: -webkit-radial-gradient(#EE3233, #EE3233, #EE3233); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(#EE3233, #EE3233, #EE3233); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(#EE3233, #EE3233, #EE3233); /* For Firefox 3.6 to 15 */
    background: radial-gradient(#EE3233, #EE3233, #EE3233);
}

.plane-1{
  
  position:absolute;
  top:8%;
  right:0;
}
.cloud-layer-1 , .cloud-layer-2, .cloud-layer-3, .cloud-layer-4 , .circle-layer-1{
  position:absolute;

}

.cloud-layer-2 img{
  
  width:100%;
}
.cloud-layer-4 img{
  
  height:800px;
  width: 120%;

}
.texts{
	position: relative;
	color: white;
	top: -20%;
	font-size: 40px;
	text-shadow: 0px 0px 6px rgba(198, 221, 232, 0.8);
}
.texts1{
	position: relative;
	color: white;
	top: 0%;
	font-size: 40px;
	z-index: 104;
	text-shadow: 0px 0px 6px rgba(198, 221, 232, 0.8);
}
.texts2{
	position: relative;
	color: white;
	top: 100%;
	font-size: 40px;
	z-index: 104;
	text-shadow: 0px 0px 6px rgba(198, 221, 232, 0.8);
}
.slide-img1{
	position: relative;
	top: 28%;
	border-radius: 4%;
	z-index: 100;
}
.slide-img3{
	position: relative;
	top: -65%;
	border-radius: 4%;
	z-index: 110;
}
.slide-img2{
	position: relative;
	top: -15%;
	border-radius: 4%;
	z-index: 105;
}
.slide-img2 img{
	height: 275px;
	width: 50%;
	border: 2px solid #a1a1a1;
	border-radius: 25px;
}
.slide-img3 img{
	height: 275px;
	width: 50%;
	border: 2px solid #a1a1a1;
	border-radius: 25px;

}
.slide-img1 img{
	height: 275px;
	width: 50%;
	border: 2px solid #a1a1a1;
	border-radius: 25px;

}
.circle{
  position:absolute;
  margin-left:-10%;
}
.circle img{
  width:120%;
}
.circle-layer-3 img{
  height:1800px;
}

.circle-layer-2{
	z-index: 102;

}


.stars-layer-1{
  position:absolute;
  top:1%;
  left:1%;
  z-index:99;
}

.stars-layer-2{
  position:absolute;
  top:1%;
  right:1%;
  z-index:99;

}
.stars-layer-3{
  position:absolute;
  top:55%;
  left:1%;
  z-index:99;

}
.stars-layer-4{
  position:absolute;
  top:75%;
  right:1%;
  z-index:99;
}
.stars-layer-5{
  position:absolute;
  top:30%;
  left:1%;
  z-index:99;

}
.stars-layer-6{
  position:absolute;
  top:30%;
  right:1%;
  z-index:30;
}



h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 0px;
    margin-bottom: 10px;
}


.slide-1 {
	position: absolute;
	top: 20%;
	text-align: center;
	color: white;
	text-shadow: 0px 0px 6px rgba(198, 221, 232, 0.8);
	z-index: 50;
	font-size: 300% !important; 
}
.texts3{
	position: relative;
	color: white;
	top: 100%;
	font-size: 30px;
	z-index: 104;
	text-shadow: 0px 0px 6px rgba(198, 221, 232, 0.8);
}
  #footer {
 position: relative;
 top: -97%;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 280px;
  background: 
  linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../images/footimg.jpg") ;
    z-index: 202;
}
.logo {
	display: inline;
  padding: 0px 0;
  font-family: Dancing Script ;
}
.logo h1 a{
	display: inline;
color:white;
text-decoration:none;
}
.logo h1{
display: inline;
margin:0 0 5px 0;
font-size:72px;
color:#454545;
text-align:center;
font-family: Dancing Script ;

}

.logo h1 a span{
color:#3498db;
}
ul li {
	list-style: none;
    color: white;
    padding: 10px;
}
.container ul li a {
    color: white;
    font-size: 1em;
    font-family: "Raleway",sans-serif;
}
.arrow{
	position: relative;
	top: -80%;
}
.texts3 a{
	color: white;
}
a:focus, a:hover{
	color: white;
}