{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Studeely | TOUR</title>
	<link rel="stylesheet" type="text/css" href="{% get_static_prefix %}tour/css/style.css" />
	 <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	
	<link href='https://fonts.googleapis.com/css?family=Dancing+Script:700' rel='stylesheet' type='text/css'>
    
      <!--fonts-->
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>  
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Revenant Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
         Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />


</head>
<body>
	

		<div class="main-wrapper">
			<div class="plane-1"
				data-0="opacity:1;"
    			data-100="transform:translateX(0%);"
    			data-1025="transform:translateX(-600%);"
			>
	<img src="{% get_static_prefix %}tour/images/f-logo.png"></div>
			<div class="slide-1"
				 data-0="opacity:1;"
				 data-100="transform:translateX(-100%);"
				 data-1025="transform:translateX(100%);"
				 data-1200="opacity:0.7;"
				 data-1400="opacity:0.5;"
				 data-1600="opacity:0;"
			>
				<h1>Lets see what you gotta do...!</h1>
			</div>



<div class="cloud-layer-2"
	data-100="top:60%;"
    data-300="top:40%;"
    data-4200="opacity:0.8;"
    data-4400="opacity:0;"

>
	<img src="http://1582_wpj.limetray.com/assets/clt/1582_wpj.limetray.com/cloud-layer-2.png">
</div>

<div class="cloud-layer-3"
	data-100="top:70%;"
    data-400="top:40%;"
    data-1960="top:30%;"
    data-3900="opacity:0.8;"
    data-4100="opacity:0;"
>
	<img src="http://1582_wpj.limetray.com/assets/clt/1582_wpj.limetray.com/cloud-layer-3.png">
</div>

<div class="cloud-layer-4"
	data-100="top:92.3%;"
    data-600="top:50%;"
    data-1960="top:40%;"
    data-2800="top:-29%;"
    

>
	
		
	
	<img src="http://1582_wpj.limetray.com/assets/clt/1582_wpj.limetray.com/cloud-layer-4.png" style="height:950px">
	
</div>
<div class="stars-layer-1"
	data-2800="opacity:0;"
	data-2941="opacity:1;"
	data-23000="opacity:1;"
	data-24000="opacity:0"
>
	<img src="http://1582_wpj.limetray.com/assets/clt/1582_wpj.limetray.com/stars-layer-1.png">
</div>

<div class="stars-layer-2"
	data-2800="opacity:0;"
	data-2941="opacity:1;"
	data-23000="opacity:1;"
	data-24000="opacity:0"
>
	<img src="http://1582_wpj.limetray.com/assets/clt/1582_wpj.limetray.com/stars-layer-2.png">
</div>

<div class="stars-layer-3"
	data-3300="opacity:0;"
	data-3440="opacity:1;"
	data-23000="opacity:1;"
	data-24000="opacity:0"
>
	<img src="http://1582_wpj.limetray.com/assets/clt/1582_wpj.limetray.com/stars-layer-2.png">
</div>

<div class="stars-layer-4"
	data-3300="opacity:0;"
	data-3440="opacity:1;"
	data-23000="opacity:1;"
	data-24000="opacity:0"
>
	<img src="http://1582_wpj.limetray.com/assets/clt/1582_wpj.limetray.com/stars-layer-1.png">
</div>

<div class="stars-layer-5"
	data-3800="opacity:0;"
	data-4000="opacity:1;"
	data-23000="opacity:1;"
	data-24000="opacity:0"
>
	<img src="http://1582_wpj.limetray.com/assets/clt/1582_wpj.limetray.com/stars-layer-2.png">
</div>

<div class="stars-layer-6"
	data-3800="opacity:0;"
	data-4000="opacity:1;"
	data-23000="opacity:1;"
	data-24000="opacity:0"
>
	<img src="http://1582_wpj.limetray.com/assets/clt/1582_wpj.limetray.com/stars-layer-2.png">
</div>


<div class="circle circle-layer-1"
data-2700="opacity:0;transform:translateY(100%);"
data-4800="opacity:1;transform:translateY(18%);"
data-5400="opacity:1;transform:translateY(18%);"
data-5900="opacity:1;transform:translateY(-1%);"
data-6900="opacity:1;transform:translateY(-5%);"
data-8900="opacity:1;transform:translateY(-10%);"

>
	<img src="http://1582_wpj.limetray.com/assets/clt/1582_wpj.limetray.com/circle-1.png">
</div>

<div class="texts"
	 data-100="top:5%;left:200%;transform:scale(0.5,0.5);"
	 data-3900="left:100%;transform:scale(0.5,0.5);"
	 data-5900="left:100%;transform:scale(0.5,0.5);"
	 data-6400="left:60%;opacity:0.4;transform:scale(1.5,1.5);"
	 data-6900="top:10%;opacity:0.7;transform:scale(1.5,1.5);"
	 data-7250="top:15%;opacity:1;transform:scale(1.5,1.5);"
	 data-7700="top:20%;opacity:1;transform:scale(1.5,1.5);"
	 data-9700="opacity:0.8;"
	 data-10000="opacity:0;"
> Step 1 - Study a topic
</div>
<div class="slide-img1"
	data-100="left:-200%;"
	data-6850="left:-190%;"
	data-6950="left:-130%;"
	data-7200="left:-90%;"
	data-7500="left:-50%;"
	data-7800="left:-30%;"
	data-8200="left:10%;"
	data-8500="left:25%;opacity:1;"
	data-9000="left:25%;opacity:1;"
	data-9900="opacity:0.4;"
	data-10180="opacity:0;"
>
	<img src="{% get_static_prefix %}dashboard/img/studyss.png">
	
</div>
<div class="circle circle-layer-2"
data-10100="opacity:0;transform:translateY(100%);"
data-11100="opacity:1;transform:translateY(-15%);"
data-11400="opacity:1;transform:translateY(-15%);"
data-18400="opacity:1;transform:translateY(-15%);"
data-20480="opacity:1;transform:translateY(-20%);"

>
	<img src="http://1582_wpj.limetray.com/assets/clt/1582_wpj.limetray.com/circle-2.png">
</div>
<div class="texts1"
	 data-100="left:200%;opacity:0;transform:scale(0.5,0.5);"
	 data-11000="left:100%;opacity:0.1;transform:scale(0.5,0.5);"
	 data-11800="left:60%;opacity:0.4;transform:scale(1.5,1.5);"
	 data-12000="top:-50%;opacity:0.7;transform:scale(1.5,1.5);"
	 data-12350="top:-30%;opacity:1;transform:scale(1.5,1.5);"
	 data-12700="top:-26%;opacity:1;transform:scale(1.5,1.5);"
	 data-16000="opacity:0.7;"
	 data-16180="opacity:0;"
> Step 2 - Give a Test
</div>
	
<div class="slide-img2"
	data-100="left:200%;opacity:0;"
	data-12500="left:150%;opacity:0.1;"
	data-12700="left:90%;opacity:0.3;"
	data-12850="left:50%;opacity:0.7;"
	data-13200="left:25%;opacity:1;"
	data-15000="opacity:0.4;"
	data-15180="opacity:0;"
>
	<img src="{% get_static_prefix %}dashboard/img/testss.png">
</div>
	<div class="circle circle-layer-3"
data-16100="opacity:0;transform:translateY(100%);"
data-16100="opacity:1;transform:translateY(-25%);"
data-17400="opacity:1;transform:translateY(-25%);"
data-18400="opacity:1;transform:translateY(-25%);"
data-20480="opacity:1;transform:translateY(-30%);"
data-23880="opacity:1;transform:translateY(-30%);"
data-24080="opacity:1;transform:translateY(-70%);"

>
	<img src="http://1582_wpj.limetray.com/assets/clt/1582_wpj.limetray.com/circle-3.png">
</div>

<div class="texts2"
	data-100="top:-100%;left:200%;opacity:0;transform:scale(0.5,0.5);"
	 data-20000="left:100%;opacity:0.1;transform:scale(0.5,0.5);"
	 data-20800="left:60%;opacity:0.4;transform:scale(1.5,1.5);"
	 data-21200="top:-80%;opacity:0.7;transform:scale(1.5,1.5);"
	 data-21350="top:-70%;opacity:1;transform:scale(1.5,1.5);"
	 data-23000="opacity:0.7;"
	 data-23180="opacity:0;"
	>
	Step 3 - View Results
</div>
<div class="slide-img3"
	data-100="left:200%;opacity:0;"
	data-21500="left:150%;opacity:0.1;"
	data-21700="left:90%;opacity:0.3;"
	data-21850="left:50%;opacity:0.7;"
	data-22200="left:25%;opacity:1;"
	data-23000="opacity:0.4;"
	data-23180="opacity:0;"
>
	<img src="{% get_static_prefix %}dashboard/img/resultsss.png">
</div>
<div class="texts3"
	 data-25000="top:-127%;left:200%;opacity:0;transform:scale(0.5,0.5);"
	 data-25100="left:100%;opacity:0.6;transform:scale(0.5,0.5);"
	 data-25600="left:70%;opacit:0.8;transform:scale(0.5,0.5);"
	 data-25800="left:60%;opacity:1;transform:scale(0.5,0.5);"
	 data-26050="left:60%;opacity:1;transform:scale(1.5,1.5);"
>
<a href="/accounts/login">Lets Get Started..!</a> 
</div>

      <div id="footer"
      	   data-25000="opacity:0;"
      	   data-26000="opacity:0.3;"
      	   data-26050="opacity:0.7;"
      	   data-26100="opacity:1"
      >
          <div class="container" id="foot">
                <div id="home" class="logo" style="position:relative;top:40px">
                   <h1><a href="/">Studee<span>ly</span></a></h1>
                </div>
                <br>
                <div class="col-md-12" >
                
                   <ul style="position:relative;float:right">
                      <li>SiteMap</li>
                      <li> <a href="#">TOUR</a></li>
                      <li><a href="#">ABOUT</a></li>
                      <li><a href="#">CONTACT</a></li>
                   </ul>
                
                  
              
             </div>
          </div>
      </div>
		</div>

		<script src="{% get_static_prefix %}tour/js/skrollr.min.js"></script>
   		<script>
         		var s = skrollr.init();
   		</script>
</body>
</html>